/* start sign up page styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.mainContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline-color: #a5b4fc;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e2e8f0;
}

.signUp-p {
  font-size: 14px;
  color: #6b7280;
}

.signup-form {
  width: 480px;
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px #6b728040;
  text-align: center;
}

.signUp-header {
  margin-bottom: 48px;
}

.signUp-header h1 {
  font-weight: bolder;
  font-size: 28px;
  color: #6366f1;
}

.signUp-input {
  position: relative;
  margin-bottom: 24px;
}
.signUp-input-custom{
	position: unset;
}

.signUp-input input {
  width: 100%;
  border: none;
  padding: 8px 40px;
  border-radius: 4px;
  background-color: #f3f4f6;
  color: #1f2937;
  font-size: 16px;
  margin-left: 0px;
}

.signUp-input input::placeholder {
	color: #6b7280;
}

.signUp-input textarea {
	width: 100%;
	border: none;
	padding: 8px 40px;
	border-radius: 4px;
	background-color: #f3f4f6;
	color: #1f2937;
	font-size: 16px;
  margin-left: 0px;
  }

.signUp-input textarea::placeholder {
  color: #6b7280;
}



.signUp-input i {
  top: 50%;
  width: 36px;
  position: absolute;
  transform: translateY(-50%);
  color: #6b7280;
  font-size: 16px;
}

.signUp-input-custom i {
	top:unset;
	transform: unset;
	margin-top: 9px;
}

.signup-btn {
  width: 100%;
  border: none;
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: #6366f1;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn:active {
  background-color: #4f46e5;
  transition: all 0.3s ease;
}

.social-icons i {
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 50%;
  margin: 24px 8px 48px 8px;
  background-color: gray;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
/**
i.fa-facebook-f {
  background-color: #3b5998;
}

i.fa-twitter {
  background-color: #1da1f2;
}

i.fa-google {
  background-color: #dd4b39;
}
*/
.signUp-link {
	color: #6366f1;
	text-decoration: none;
  }

  .password-match {
	border: 1px solid green !important;
  }

  .password-mismatch {
	border: 1px solid red !important;
  }
.ValidationContainer {
background-color: rgb(240, 240, 240);
box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
padding: 10px;
width: 400px;
text-align: left;
border-radius: 10px;
}

.set
{
    display:block ;
    position:relative;
    margin:auto;
}

.count
{
   display:inline-block;
   position:relative ;
   margin:4%; margin-bottom:2%;
   color:#000; font-size:17px;
   text-indent:40px;
   font-weight:bolder;

}
.see
{
    display:inline-block;
    color:gray;
    margin:auto;
    float: right;
    margin-right:40px;
    margin-top:10px;
    cursor:pointer;
    transition-duration:0.2s;
}
.check0,.check1,.check2,.check3,.check4
{
   display:block;
   position:relative;
   margin:4%;
   color:red; font-size:15px;
   width:92% ;

}

.ValidationContainer i {
	font-size:15px;
    transition-duration:600ms;
	}

.ValidationContainer span{
	margin:10px;
	font-weight: bold;
}
/* end sign up page styles */



/* start about us page styles */


#about{
  text-decoration: none;
}

.about_link a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
}
.section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

.section-title-border {
    background-color: #000;
    height: 1 3px;
    width: 44px;
}

.section-title-border-white {
    background-color: #fff;
    height: 2px;
    width: 100px;
}
.text_custom {
    color: #00bd2a;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #00bd2a;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}

.visible {
	display: block;
	color: red;
}

.hidden {
	display: none;
}

/* end about us page styles */